spring:
  jpa:
    show-sql: true
    defer-datasource-initialization: false
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
        default_schema: servitus
    hibernate:
      ddl-auto: update
    open-in-view: true
  sql:
    init:
      mode: always
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    hikari:
      connection-init-sql: SET search_path TO servitus
  devtools:
    add-properties: false
  liquibase:
    change-log: classpath:/db/changelog/db.changelog-master.xml
    enabled: true
    default-schema: servitus
  application:
    name: servitus
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:8080/realms/kumpo/protocol/openid-connect/certs
  profiles:
    active: localdb,noauth


management:
  endpoints:
    web:
      exposure:
        include: health, info
      base-path: /servitus

